body{
    font-family: 'Open Sans', sans-serif;
}

[data-stack] {
    display: flex;
    justify-content: left;
    align-items: center;
    -webkit-align-items: center;
    display: -webkit-flex;
    height: 101px;
    background-color: aliceblue;
    margin: 25px;
}

[data-block] {
    width: 25px;
    float: left;
}

[data-block="25"] {
    height: 25px;
    background-color: #3498db;
}

[data-block="50"] {
    height: 50px;
    background-color: #2ecc71;
}

[data-block="75"] {
    height: 75px;
    background-color: #e74c3c;
}

[data-block="100"] {
    height: 100px;
    background-color: #f1c40f;
}

#announce-game-won {
    font-size: 50px;
    text-align: center;
}

#not-allowed {
    font-size: 50px;
    text-align: center;
    color: red;
}

#allowed {
    font-size: 50px;
    text-align: center;
    color: green;
}

